<ion-view view-title="fixWO - Comentários">
  <ion-content class="padding">
    <p>
	  <label class="item item-input item-stacked-label">
		<span class="input-label">Título</span>
	    <input type="text"/>
	  </label>
	</p>
	<p>
	  <label class="item item-input item-stacked-label">
		<span class="input-label">Comentários</span>
	    <input type="text"/>
	  </label>
    </p>
	<button class = "button button-block button-positive button-block" 
		ng-click = "goToCadastrarOcorrenciaState()">
		Cadastrar Ocorrência
	</button>
  </ion-content>
</ion-view>
