<ion-view view-title="Cadastrar">
  <ion-content class="padding">
      <div class="list list-inset">
      <p>
              <label class="item item-input">
                  <input type="text" placeholder="nome" ng-model="usuario.nome"></input>
              </label>
      </p>
      <p>
              <label class="item item-input">
                  <input type="text" placeholder="email" ng-model="usuario.email"></input>
              </label>
      </p>
      <p>
              <label class="item item-input">
                  <input type="password" placeholder="senha" ng-model="usuario.hashSenha"></input>
              </label>
      </p>
      <p>
              <label class="item item-input">
                  <input type="password" placeholder="confirmar senha" ng-model="hashSenhaConfirmar"></input>
              </label>
      </p>
      </div>
    <button class="button button-block button-positive" ng-click="registrar()">CADASTRAR</button>
  </ion-content>
</ion-view>