<div ng-controller="BuscaOS">
<h1>Ordens de Serviço Encontradas</h1>
<table width="98%" border="1" id="tab_reclamacoes">
<colgroup>
<col class="tab_foto">
<col class="tab_tipo">
<col class="tab_detalhes">
</colgroup>
  <tr>
    <th scope="col">Foto</th>
    <th scope="col">Titulo</th>
    <th scope="col"></th>
    
  </tr>
  <tr ng-repeat="os in allOS">
    <!--<td><img data-ng-src="data:image/PNG;base64,{{os.fotos[1]}}" width="100%" height="100%"></td>  -->
    <td><img data-ng-src="data:image/PNG;base64,{{os.fotos}}" width="100%" height="100%"></td>
    <td>{{os.descricao}}</td>
    <td><a href ng-click="redirOS({{os.id}})">Exibir mais detalhes / <br/>Responder</a></td>
  </tr>
</table>
</div>