<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>

</head>
<h1>Cadastrar Local</h1>
 
<div ng-app="postserviceApp" ng-controller="postserviceCtrl">
<div>
<h2>Nome do Local:</h2> <input ng-model="descricao">
<div id="mapa1" style="width:80%; height:300px;">
		<script type="text/javascript">
			var map = L.map('mapa1');
			L.control.scale().addTo(map);
			
			L.tileLayer('http://{s}{hash}.wikimapia.org/?x={x}&y={y}&zoom={z}&type=&lng=3', {
				hash: function (data) {
			          return data.x % 4 + (data.y % 4) *4;
			        }
				, subdomains : 'i'
		        , maxZoom: 21
		        , attribution: '<a href="http://wikimapia.org" target="_blank">Wikimapia.org</a>'
		      }).addTo(map);
			
			window.onload=function(){
				
				var loc = angular.element(document.querySelector('[ng-controller="Main"]')).scope().locais;
				var myPoints = [];
				for (i = 0; i < loc.length; i++) { 
					myPoints.push([loc[i].lat,loc[i].lng]);
					var latlng = L.latLng(parseFloat(loc[i].lat),parseFloat(loc[i].lng));
					var marker = L.marker(latlng).addTo(map); 
				}
				
				var myBounds = new L.LatLngBounds(myPoints);
				map.fitBounds(myBounds);
				
			}
        </script>
        </div>

<input type="button" value="Enviar" ng-click="postdata(descricao)" /> <br/><br/>
</div>
<p>Output Message : {{msg}}</p>
<p>StatusCode: {{statusval}}</p>
<p>Status: {{statustext}}</p>
<p>Response Headers: {{headers}}</p>
</div>