<!DOCTYPE html>
<html>
 
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <link rel="icon" href="http://getbootstrap.com/favicon.ico">
 
    <title>FixWO</title>
 
    <link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="http://getbootstrap.com/examples/signin/signin.css" rel="stylesheet">
 	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.26/angular.min.js"></script>
 	<script src="http://code.angularjs.org/1.0.3/angular-resource.min.js"></script>
  	<script src="../app.js"></script>
    <link href="../css/style.css" rel="stylesheet">
    </head>
<body>
<div ng-app="fixWOLogin" ng-controller="FormCtrlUser">	
    	<h1>Cadastrar Usuário</h1>
    	
    	<h2>Login: <input type="text" ng-model="login"></h2>
    
      	<h2>Senha: <input type="text" ng-model="senha"></h2>
    
    	<h2>Insira a senha novamente: <input type="text" ng-model="senha"></h2>
        
        <h2>Nome: <input type="text" ng-model="nome"></h2>
   
    	<h2>Email: <input type="text" ng-model="email"></h2>
    
    	<h2>Insira o email novamente: <input type="text" ng-model="email"></h2>
    	
    	<h2>Tipo de Usuário: </h2></br>
    	
    	<input type="checkbox" ng-model="tipo1" ng-true-value="usuario" ng-false-value="''" />Solicitante
        <input type="checkbox" ng-model="tipo2" ng-true-value="'cliente'" ng-false-value="''" />Cliente 
        <input type="checkbox" ng-model="tipo3" ng-true-value="'triador'" ng-false-value="''" />Triador 
		<input type="checkbox" ng-model="tipo4" ng-true-value="'responsavel'" ng-false-value="''" />Responsável por Setor 
		</br>
        
        <input type="button" value="Concluir" ng-click="postdata(login,senha,nome,email,tipo1,tipo2,tipo3,tipo4)">
        {{msg}}
        
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.26/angular.min.js"></script>
 	<script src="http://code.angularjs.org/1.0.3/angular-resource.min.js"></script>
  	<script src="../app.js"></script>
</div>
</body></html>