<!doctype html>
<html ng-app="fixWO">
<head>
<meta charset="utf-8">
<link rel="stylesheet" type="text/css" href="../css/style.css"/>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.min.js"></script>
    	<script src="http://code.angularjs.org/1.0.3/angular-resource.min.js"></script>
		
		<script src="../services.js"></script>
    	<script src="../app.js"></script>
<title>Imprimir QR Code</title>

<!--  <script>
html2canvas(document.getElementById('exportthis'), {
    onrendered: function (canvas) {
        var data = canvas.toDataURL();
        var docDefinition = {
            content: [{
                image: data,
                width: 500,
            }]
        };
        pdfMake.createPdf(docDefinition).download("QRCode.pdf");
    }
});
</script>
-->

</head>

<body ng-controller="Main">
	
    	<h1>Imprimir QR Codes</h1>
    	
    	<h2>Escolha o Local:</h2>
    	<div ng-controller="imprimirQRCode">
	    	<select ng-model="localQR" ng-change="changedValue(localQR)" data-ng-options="local.nome for local in data">
	    		<option value=""></option>
			</select>
	    	
	    </div>    
        <button type="button" ng-click="printIt()">Gerar PDF</button>
        
    	<a href="#cadastrarLocal"><h2>Cadastrar Novo Local</h2></a>
	
 		<div  id="printArea">
			<h1> Encotrou um problema neste local?
			</br>Nos informe através do aplicativo FixWO,
			</br>escaneando o QRCode abaixo</h1>
			<qrcode version="5" error-correction-level="M" size="300" data="fixwo://{{locQRCode}}" href="fixwo://{{locQRCode}}"></qrcode>
			</div>
    
    
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.10/angular.min.js"></script>
  <script src="//monospaced.github.io/bower-qrcode-generator/js/qrcode.js"></script>
  <script src="//monospaced.github.io/bower-qrcode-generator/js/qrcode_UTF8.js"></script>
  <script src="../qrcode.js"></script>
    </body>
</html>
