<!DOCTYPE html>
<html ng-app="fixWO">
 
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <link rel="icon" href="http://getbootstrap.com/favicon.ico">
 
    <title>FixWO</title>
 
    <link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="http://getbootstrap.com/examples/signin/signin.css" rel="stylesheet">
 	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.26/angular.min.js"></script>
 	<script src="http://code.angularjs.org/1.0.3/angular-resource.min.js"></script>
  	<script src="../app.js"></script>
    <link href="../css/style.css" rel="stylesheet">
 
</head>
 
<body>
 
    <div class="container" ng-controller="controllerLogin">
     <br>
         <div class="row">
            <div class="col-md-4 col-md-offset-4">
              <div class="panel panel-default">
                  <div class="panel-heading">
                    <h3 class="panel-title">FixWO - Login</h3>
                </div>
                  <div class="panel-body">
                    <form  ng-submit="entrar()">
                        <fieldset>
                            <div class="form-group">
                              <input class="form-control" ng-model="txtUsuario" placeholder="Usuario" name="usuario" type="text" required>
                          </div>
                          <div class="form-group">
                              <input class="form-control" ng-model="txtPassword" placeholder="Password" name="password" type="password" value=""required>
                          </div>
                          <div class="row">
                           <div class="col-md-6">
                            <input class="btn btn-lg btn-info btn-block" type="submit" value="Entrar">
                           </div>
                          </div>
                        </fieldset>
                     </form>
                  </div>
              </div>
            </div>
          </div> 
        
        <div class="alert alert-warning alert-dismissible fade in" role="alert" ng-hide="alertaLoginErro">
          <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
          <strong>Erro!</strong> Os dados estão incorretos!
        </div>
       
		 <div class="alert alert-success alert-dismissible fade in" role="alert" ng-hide="alertaLoginCorrecto">
          <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
          
          <strong>Bem vindo!</strong> {{rsJSON | json}}.
        </div>
    </div> 
 
   
 
</body></html>