<script>
function resolve() {
   	document.getElementById("textarea").style.display = "inline";
	document.getElementById("enviar").style.display = "inline";
}
</script>
<link href="../css/style.css" rel="stylesheet">
<link href="../css/js-image-slider.css" rel="stylesheet" type="text/css" />
<script src="../js-image-slider.js" type="text/javascript"></script>
<link href="../css/generic.css" rel="stylesheet" type="text/css" />
<div ng-controller="Reclamacao">
<div class="div_tabela">
<table id="tab2" border="1">
  <tr ng-repeat="result in results">
    <!--  <td rowspan="5" class="tab2_foto">
    <div class="sliderFrame">       
        <div id="slider" ng-repeat="f in result.fotos">
            <img data-ng-src="data:image/PNG;base64,{{f.foto}}"/>
        </div>

    </div>
	</td>-->
    
    <td rowspan="5" class="tab2_foto"><img src="{{result.fotos}}"></td>
    <td><strong>Enviado por:</strong> {{usuario}}</td>
  </tr>
  <tr>
    <td><strong>Categoria:</strong> {{result.categoria}}</td>
  </tr>
  <tr>
    <td><strong>Descrição:</strong> {{result.descricao}}</td>
  </tr>
  <tr>
    <td><strong>Situação:</strong> {{result.status}}</td>
  </tr>
  <tr>
    <td class="tab2_menu"><strong>Comentários:</strong> {{result.titulo}}</td>
  </tr>
</table>

<input type="button" name="marcar" id="marcar" value="Marcar Como Resolvida" onclick="resolve()" style="color: #FFFFFF; background-color: #CC0000">

<textarea name="textarea" id="textarea" placeholder="Escreva um comentário (Opcional)" ng-model="cliente_comment" cols="num" rows="num" style="display: none;></textarea>

<input type="button" ng-click="putdata(cliente_comment)" name="enviar" id="enviar" value="Enviar" style="color: #FFFFFF; background-color: #CC0000; display: none;">
</br>
</br>

</div>

<div class="div_localizacao" ng-controller="Mapa">

<h1>Localização</h1>

<p style="display: none;">{{result.localizacao}}}}</p>

<div id="mapa1" style="width:80%; height:40%;">
		<script type="text/javascript">
			var map = L.map('mapa1');
			L.control.scale().addTo(map);
			
			L.tileLayer('http://{s}{hash}.wikimapia.org/?x={x}&y={y}&zoom={z}&type=&lng=3', {
				hash: function (data) {
			          return data.x % 4 + (data.y % 4) *4;
			        }
				, subdomains : 'i'
		        , maxZoom: 21
		        , attribution: '<a href="http://wikimapia.org" target="_blank">Wikimapia.org</a>'
		      }).addTo(map);
			
			window.onload=function(){
				
				var loc = angular.element(document.querySelector('[ng-controller="Mapa"]')).scope().locais;
				var myPoints = [];
				for (i = 0; i < loc.length; i++) { 
					myPoints.push([loc[i].lat,loc[i].lng]);
					var latlng = L.latLng(parseFloat(loc[i].lat),parseFloat(loc[i].lng));
					var marker = L.marker(latlng).addTo(map); 
				}
				
				var myBounds = new L.LatLngBounds(myPoints);
				map.fitBounds(myBounds);
			</script>
		</div>
</div>

<div class="div_comentarios">

<h1>Comentários</h1>
<hr style="height:2px; border:none; color:#000; background-color:#000; margin-top: 0px; margin-bottom: 0px;"/>

<table width="50%" border="1" ng-repeat="comentario in user_comentarios">
  <tr>
    <td>{{comentario.usuario}}</td>
    <td>{{comentario.conteudo}}</td>
  </tr>
</table>

</div>
</div>
<link href="../css/style.css" rel="stylesheet">